<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
<meta name="format-detection" content="telephone=no">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link href="{pboot:sitedomain}/m/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{pboot:sitedomain}/m/css/swiper.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/m/css/animate.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/m/css/iconfont.css">
<link rel="stylesheet" href="{pboot:sitedomain}/m/css/drawer.min.css">
<script src="{pboot:sitedomain}/m/js/jquery.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/m.js"></script>
<script src="{pboot:sitedomain}/m/js/swiper.min.js"></script>
<script src="{pboot:sitedomain}/m/js/swiper.animate.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/iscroll.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/jquery.drawer.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/op.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/97zzw.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/m/js/tot.js"></script>
</head>
<body class="drawer drawer-right">
{include file=comm/top.html}
<section class="pa1">
  <div class="tm3"><img src="{content:ico}" alt="{content:title}" /></div>
  <div class="tm1">{content:title}</div>
  <div class="tm4" id="maximg"> {content:content} </div>
  <div class="f_l">
    <ul>
      <li> {pboot:if('{content:prelink}'=='javascript:;')}
        上一页：暂无
        {else} <a href="{content:prelink}">上一页</a> {/pboot:if} </li>
      <li> {pboot:if('{content:nextlink}'=='javascript:;')}
        下一页：暂无
        {else} <a href="{content:nextlink}">下一页</a> {/pboot:if} </li>
    </ul>
  </div>
</section>
{include file=comm/foot.html}
</body>
</html>